<%- include('helpers/header.ejs', {bot, user, path}) %>
<% const help = {};
bot.commands.forEach((command) => { const cat = command.help.category; if
(!help.hasOwnProperty(cat)) help[cat] = []; help[cat].push(command); }); %> <%
for (const category in help) { %>
    <hr />
    <h3 class="cmd-title"><%= category %></h3>
    <br />
    <% for (const command of help[category]) { %>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title"><%= command.help.name %>
                <a href="#" class="card-header-icon" aria-label="more options">
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <strong>Description:</strong> <%= command.help.description %><br />
                    <strong>Permission:</strong> <%= command.conf.permLevel %><br />
                    <strong>Utilisation:</strong> <%= command.help.usage %><br />
                    <strong>Aliases:</strong> <%= `${command.conf.aliases.join(', ')}` %><br />
                </div>
            </div>
        </div>
    <% } %><% } %>
<%- include('helpers/footers.ejs') %>